{% load staticfiles %}
<html>
    <head>
        <title>Küresel Yazılım - Django Blog Sitesi Projesi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'img/kuresel-yazilim-logo.png' %}">

    </head>
    <body>
        <div class="row">
            
                <div class="col-md-4">
                    <img src="static/img/kuresel-yazilim-logo.png" alt="Logo">
                </div>
                    
                <div class="col-md-4">
                    <div align="center">
                        <h1><a href=""></a>Django Blog Sitesi</a></h1>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="col-md-12">
                    <div align="center">
                    {% for post in posts %}
                    <div class="post">
                        <div class=row>
                        <div class="col-md-4">
                            <p>Yayınlanma Tarihi: {{ post.yayinlanma_tarihi }}</p>
                        </div>
                        
                        <div class="col-md-12">
                            <h1><a href="">{{ post.baslik }}</a></h1>
                        </div>
                        
                        <div align="center"> 
                        <div class="col-md-12">
                            <p>{{ post.yazi|linebreaks }}</p>
                        </div>
                        </div>
                        </div>
                    </div>
                   
                    {% endfor %}

                </div>
            </div>   
        </div>
        
        

        

    </body>
</html>